@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication.OpenIdConnect

<h2>Logout</h2>

<form method="post" asp-controller="Account" asp-action="Logout">
    <button type="submit">Logout</button>
</form>