
<div class="background-container">
  <!-- <div class="login-container"> -->
    <div class="login-form">
      <h2 class="text-class">Welltrack Ecosystem Portal</h2>
      <form>
        <div class="button-container">
          <button type="button" class="button-login" (click)="openNewWindow()">Sign in with HelpNow</button>
          <button type="button" class="button-login">Sign in with Connect</button>
          <button type="button" class="button-login">Sign in with Boost</button>
        </div>
      </form>
    </div>
  <!-- </div> -->
</div>