<header>
    <div class="navbar bd-navbar box-shadow">
      <div class="container d-flex justify-content-between">
        <strong>WEP Client</strong>
        <!-- <button *ngIf="logged" type="button" (click)="logout()" class="btn btn-outline-primary">
          Logout
        </button> -->
      </div>
    </div>
  </header>
  <section class="jumbotron text-center">
    <div class="left" style="max-width: 150px;">
      <button class="btn btn-outline-primary" (click)="openNewWindow()">Login with App1</button>
      <!-- <button class="btn btn-outline-primary">Login with App2 (Google)</button> -->
    </div>
  </section>