<!-- <div class="background-container"> -->
    <div class="login-form">
    <h2 class="text-class">Welltrack Ecosystem Portal</h2>
    <form>
      <div class="button-container">
        <button type="button" class="button-login" (click)="openNewWindow()">Sign in with HelpNow</button>
        <button type="button" class="button-login" (click)="openConnect()">Sign in with Connect</button>
        <button type="button" class="button-login" (click)="openBoost()">Sign in with Boost</button>
      </div>
    </form>
  </div>
<!-- </div> -->