.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/assets/WEP Portal.png') no-repeat center center fixed;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px; /* This makes the button corners round */
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button-login:hover {
    background-color: #0056b3;
  }

  .login-form {
    background-color: white;
    //background: url('/assets/WEP Portal.png') no-repeat center center fixed;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    height: 450px;
  }

  .button-container {
    margin-top: 150px;
  }

  .text-class {
    background-color: darkorchid;
    color: azure;
    text-align: center;
  }


